#main {
  margin-left: 12%;
  margin-right: 12%; }

.sections {
  width: 70%;
  float: left; }

.sidebar {
  width: 25%;
  float: left; }

.section {
  border: 1px solid #eeeeee; }
  .section .heading {
    background-color: #efefef;
    border-bottom: 1px solid #eeeeee; }
    .section .heading h3 {
      margin: 0;
      padding: 1em; }
  .section .container {
    background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
