#main {
    margin-left: 12%;
    margin-right: 12%;
}

.sections {
    width: 70%;
    float: left;
}

.sidebar {
    width: 25%;
    float: left;
}

.section {
    border: 1px solid #eeeeee;

    .heading {
        background-color: #efefef;
        border-bottom: 1px solid #eeeeee;

        h3 {
            margin: 0;
            padding: 1em;
        }
    }
    .container {
        background-color: #ffffff;
    }
}
